@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.dark {
    header {

        label {
            color: #fff;
        }
    }
}

header {
    width: 100%;
    display: flex;
    padding: 20px 80px 0;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    top: 0;

    label {
        position: relative;
        margin: 0 10px;
    }

    .switchWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        label {
            width: 25px;
            height: 8px;
            border-radius: 10px;
            background-color: #ccc;
            position: relative;
            display: block;
            transition: all .3s ease;

            &:after {
                content: '';
                position: absolute;
                top: -4px;
                left: 0;
                width: 16px;
                height: 16px;
                background-color: #fff;
                border-radius: 100%;
                transition: all .3s ease;
            }
        }

        input {
            display: none;

            &:checked + label {
                background-color: #1258c0;

                &:after {
                    right: 0;
                    left: auto;
                    background-color: #153b74;
                }
            }
        }
    }
}